

body{
    margin: 30px;
}

/* navbar-section */
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.list-item{
 padding: 0px 20px;
}

.button-small{
    color: #3BB0FF;
    height: 40px;
    width: 150px;
    border: none;
    border: 2px solid #3BB0FF;
    border-radius: 20px;
}
/* hero-section-1 */

.hero-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
  
}
.hero-heading-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
    
}
.hero-heading-1 h1{
    font-size: 2.5rem;
}
.hero-heading-1 p{
    font-size: 1.5rem;
}
.hero-1 img{
    height: 450px;
    
    border-radius: 20px;
    
    
}
/* hero-section-2 */


.hero-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
  
}
.hero-heading-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
}
.hero-heading-2 h1{
    font-size: 2.5rem;
}
.hero-heading-2 p{
    font-size: 1.5rem;
}
.hero-2 img{
    height: 580px;
    border-radius: 20px;
    
}
/* hero-section-3 */

.hero-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin:  30px auto;
    
}
.hero-heading-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-heading-3 h1{
    font-size: 2.5rem;
}
.hero-heading-3 p{
    font-size: 1.5rem;
}
.hero-3 img{
    height: 450px;
    border-radius: 20px;
}
/* thor-hosting-section */

.thor-hosting{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
}
.thor-hosting .left h1{
    font-size: 2.5rem;

}
.thor-hosting .right p{
    font-size: 1.5rem;
}

/* services-offered */

.services-1{
   
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        grid-gap: 1rem;
        width: 80%;
        margin: auto;
    
}
#bg{
    background: #08B7F7;
    height: 100vh;
}
#bg h2{
    text-align: center; 
    color: white;
    font-size: 2.5rem;
    padding: 5px 0 0 0;
    
}

/* pricing-chart-section */

.pricing-chart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: auto;

}
.price-card{
    background: #fff;
    
  
}
.price-card-head-2{
    background: rgb(52, 51, 51);
    border-radius: 0 0 10px 10px;

}
.price-card-head-2 h1{
    color: white;
}
.price-card-head-2 p{
    color: grey;
}
.price-card-head{
    padding: 40px 0;
  
    padding: 10px 0 10px 10px;
}
.price-card-body{
    padding: 40px 0;
    padding: 10px 0 10px 10px;
    
}
.price-card-body h5{
    padding: 5px 0;
    font-size: 1rem;
}
.price-card-footer{
    text-align: center;
    padding: 10px 0 10px 10px;
    padding: 20px 0;
}
span{
    color: grey;
}
.price-card-footer p{
    color: grey;
}
.price-card-button{
    height: 40px;
    width: 120px;
    background: transparent;
    color:#08B7F7 ;
    border: 1px solid #08B7F7;
    border-radius: 10px;
}
.price-card-button-popular{
    height: 40px;
    width: 120px;
    background: #0B63EA;
    color:white ;
    border-radius: 10px;
    border: none;
}

/* customer-reviews-section */

.customer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.customer-left h1{
    font-size: 2.5rem;
}
.customer-right p{
    font-size: 1.5rem;
    text-align: center;
}
.cust-cards-design{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: auto;

}
.cust-card{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 60px 0px 10px;
}
.cust-card h6{
    font-size: 1.2rem;
}
/* hosting-section */

#hosting-container{
    background: #0B63EA ;
    
}
.hosting-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
   
}
.hosting-services-left h1{
    font-size: 2.5rem;
    color: white;
}
.hosting-services-left p{
    font-size: 1rem;
    color: white;
}
.hosting-services-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}
.hosting-btn{
    height: 40px;
    width: 110px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

/* footer-section */

.footer-navbar{
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
        grid-gap: 1rem;
        width: 100%;
        margin: 30px auto;
}
.footer-navbar ul li{
    list-style: none;
    color: grey;
}
.footer-1 p{
    color: grey;
}
.social-title{
    text-align: center;
}
.social{
    text-align: center;
}

/* responsive-section */

@media only screen and (min-width:1021px) and (max-width: 1175px){
    .customer{
   
        margin-top: 150px;
       
       
     }
     #bg{
        background: #08B7F7;
        height: 240vh;
} 
#hosting-container{
    background: none;
}
.hosting-services-left h1{
    font-size: 2.5rem;
    color: black;
}
.hosting-services-left p{
    font-size: 1rem;
    color: black;
}
.hosting-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
   
}
.hosting-services-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.hosting-btn{
  
    background: #0B63EA ;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
}


@media only screen and (min-width:810px) and (max-width: 1020px){
    #bg{
        background: #08B7F7;
        height: 115vh;
} 
.customer{
   
    margin-top: 300px;
   
   
 }
 #hosting-container{
    background: none;
}
.hosting-services-left h1{
    font-size: 2.5rem;
    color: black;
}
.hosting-services-left p{
    font-size: 1rem;
    color: black;
}
.hosting-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
   
}
.hosting-services-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.hosting-btn{
  
    background: #0B63EA ;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}


}
@media only screen and (min-width:612px) and (max-width:810px){
    #bg{
        background: none;
    }
    .price-card{
        background: #a9c5ee;
      
    }
    .customer{
   
        margin-top: 1200px;
       
       
     }
     #hosting-container{
        background: none;
    }
    .hosting-services-left h1{
        font-size: 2.5rem;
        color: black;
    }
    .hosting-services-left p{
        font-size: 1rem;
        color: black;
    }
    .hosting-services{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
        grid-gap: 1rem;
        width: 80%;
        margin: 30px auto;
       
    }
    .hosting-services-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
    }
    .hosting-btn{
      
        background: #0B63EA ;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
    }
}
@media only screen and (max-width:612px){
    #bg{
        background: none;
      
    }
    .price-card{
        background: #a9c5ee;
    }
    .pricing-chart{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
        grid-gap: 1rem;
        width: 80%;
        margin: auto;
        height: 100vh;
    
    }
    .services-1{
   
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
        grid-gap: 1rem;
        width: 80%;
        margin: auto;
    
}
.thor-hosting{
   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
}
.hero-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
  
}
.hero-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
  
}
.hero-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
  
}
.customer{
    display: flex;
    flex-direction: column;
    align-items: start;
   
    width: 130%;
    margin-top: 1400px;
}
.customer-left{
    padding-left: 35px;
}
.customer-right{
    width: 130%;
    padding-left: 35px;
}
.customer-right p{
    font-size: 1.5rem;
    text-align: start;
}
.cust-cards-design{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: auto;

}
#hosting-container{
    background: none;
}
.hosting-services-left h1{
    font-size: 2.5rem;
    color: black;
}
.hosting-services-left p{
    font-size: 1rem;
    color: black;
}
.hosting-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(580px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
   
}
.hosting-services-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.hosting-btn{
  
    background: #0B63EA ;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.footer-navbar{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(540px,1fr));
    grid-gap: 1rem;
    width: 80%;
    margin: 30px auto;
}
.social-title{
    text-align: start;
}
.social{
    text-align: start;
}
}

